footer {
  background-color: #333;
  color:white;
  text-align: center;
  padding: 10px;
  position: relative; /* Prevents fixed positioning issues */
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top: auto;
}
.para{
  color: white;
}
